@import "tailwindcss";

@theme inline {
  --color-cih-blue: #0A2D66;
  --color-cih-blue-dark: #071f47;
  --color-cih-light-blue: #53ACFF;
  --color-cih-yellow: #FFEA00;
  --color-cih-yellow-hover: #FFB703;

  --color-cihBlue: #0A2D66;
  --color-cihBlueDark: #071f47;
  --color-cihLightBlue: #53ACFF;
  --color-cihYellow: #FFEA00;
  --color-cihYellowHover: #FFB703;

  --font-bricolage: var(--font-bricolage), sans-serif;
  --font-figtree: var(--font-figtree), sans-serif;
  --font-sans: var(--font-figtree), sans-serif;
}

:root {
  --cih-blue: #0A2D66;
  --cih-blue-dark: #071f47;
  --cih-light-blue: #53ACFF;
  --cih-yellow: #FFEA00;
  --cih-yellow-hover: #FFB703;
}

body {
  font-family: var(--font-figtree), sans-serif;
}
